:root {
  --nuetral: #fffffe;
  --base100: #2b2c34;
  --nuetral-focus: #2b2c34;
  --accent: #6246ea;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", serif;
  text-align: center;
  background-color: var(--nuetral);
}

h1,
h2,
h3,
h4,
h5, 
h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 60px;
}

#navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--nuetral);
  padding: 20px 0;
  font-size: 20px;
  border-bottom: 1px solid var(--nuetral-focus);

}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--base100);
  padding: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

section {
  min-height: 100vh;
  padding: 70px 0;
  
}

#welcome-section {
  background-color: var(--nuetral);
  color: var(--base100);
  display: flex;
  flex-direction: column;
}

#welcome-section h1 {
  margin-top: 30vh;
}

#welcome-section p {
  color: var(--accent);
  font-size: 25px;
  font-style: italic;
}
